*~
*.diff
*.patch
.DS_Store
.project
.settings
.fleet
.idea
*.sublime-workspace
*.sublime-project
.vscode
.zed
.env
composer.lock
composer.phar
package-lock.json
bun.lockb
/.spaces/
/lib/**/.github/*
/lib/**/bin/*
/lib/**/doc/*
/lib/**/docs/*
/lib/**/demo/*
/lib/**/example/*
/lib/**/Examples/*
/lib/**/phpunit*
/lib/**/tests/*
/lib/**/test/*
/lib/**/vendor-bin/*
/lib/**/\.travis/*
/lib/**/\.travis.yml
/storage/*.*
/storage/*/*
/config/*
/tests/*
/node_modules
npm-debug.log
yarn-error.log
addons/
!.gitignore
!.gitkeep
!/storage/*/index.html
!/storage/*/.htaccess