*~
*.diff
*.patch
.DS_Store
.project
.settings
.idea
.vscode
.env
composer.lock
composer.phar
package-lock.json
/.spaces/
/lib/**/.github/*
/lib/**/bin/*
/lib/**/doc/*
/lib/**/docs/*
/lib/**/demo/*
/lib/**/example/*
/lib/**/Examples/*
/lib/**/phpunit*
/lib/**/tests/*
/lib/**/test/*
/lib/**/vendor-bin/*
/lib/**/\.travis/*
/lib/**/\.travis.yml
/storage/*.*
/storage/*/*
/config/*
/tests/*
/node_modules
addons/
!.gitignore
!.gitkeep
!/storage/*/index.html
!/storage/*/.htaccess
# Sublime Text
*.sublime-workspace
*.sublime-project
license.lic
